span, h1, h2, h3, p, button,li,a{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #ffffff;
    height: 80px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.image-text{
    display: flex;
    justify-content: center;
}


#navbar__logo {
    background-color: #000000;
    background-image: linear-gradient(to top, #525151 0%, #000000 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    }
    
    .fa-gem {
        margin-right: 0.5rem;
    
    }
    
    .navbar__menu {
        display: flex;
        align-items: center;
        list-style: none;
        text-align: center;
    }
    
    .navbar__item  {
        height: 80px
    }
    
    .navbar__links {
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 0 1rem;
        height: 100%;
    }
    
   /* .navbar__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        width: 100%;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 10px 20px; 
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 4px;
        background: #f77062;
        color: #fff;
    
    } 

    .button:hover {
        background: #4837ff;
        transition: all 0.3s ease;
    }

    .navbar__links:hover {
        color: #f77062;
        transition: all 0.3s ease;
    } */

    @media screen and (max-width: 960px) {
        .navbar__container {
            display: flex;
            justify-content: space-between;
            height: 80px;
            z-index: 1;
            width: 100%;
            max-width: 1300px;
            padding: 0;
        }

        .navbar__menu {
            display: grid;
            grid-template-columns: auto;
            margin: 0;
            width: 100%;
            position: sticky;
            top: -1000px; 
            opacity: 0; 
            transition: all 0.5s ease;
            height: 50vh;
            z-index: -1;
            background: #131313;
        }

        .navbar__menu.active {
            background: #ffffff;
            top: 100%;
            opacity: 1;
            transition: all 0.5s ease;
            z-index: 99;
            height: 50vh;
            font-size: 1.6rem;

        } 

        #navbar__logo {
            padding-left: 25px;
           }
            
           .navbar__toggle .bar {
            width: 25px;
            height: 3px;
            margin: 5px auto;
            transition: all 0.3s ease-in-out;
            background: #000000;   
           }
    
           .navbar__item {
            width: 100%;
           }
    
           .navbar__links {
            text-align: center;
            padding: 2rem;
            width: 100%;
            display: table;
           }
    
           #mobile-menu {
            position: sticky;
            top: 20%;
            transform: translate(5%, 20%);
           }
    
           .navbar__btn {
            padding-bottom: 2rem;
           }

           .button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 80px;
            margin: 0;
         }

         .navbar__toggle .bar {
            display: block;
            cursor: pointer;
         }

         #mobile-menu.is-active .bar:nth-child(2) {
            opacity: 0;
         }
         #mobile-menu.is-active .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
         }
         #mobile-menu.is-active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
           }

         
}
/*sketchy section css*/

.sketch_content {
    display: flex;
    align-items: center;
    justify-self: center;
    margin: auto auto;
    height: 80vh;
    background-color: #ffffff;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    padding: 0 50px;


}

#final {
    align-items: center;
    display: flex;
    justify-self: center;
    height: 60%;
    width: 60%;

}
/*hero section Css*/

.main{
    background-color: #ffffff

}

.main__container {  
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 80vh;
    background-color: #ffffff;
    z-index: 1;
    width: 100%;
    max-width: 1000px;
    padding: 0 50px;

}

.main__content h1 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 1rem;
}

.main__content h2 {
    font-size: 3rem;
   color: #000000;
    margin-bottom: 2rem;
}

.main__content p {
    font-size: 1.5rem;
    color: #131313;
    margin-bottom: 0.6rem;

}

.main__content h3 {
    font-size: 2rem;
    color: #131313;
    margin-bottom: 1rem;

}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #000000;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

/*.main__img--container {
text-align: center;
} */

#main__img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 960px) {
    #main__img {
        display: none;
    }
}

/*  Mobile Responsive*/

@media screen and (max-width: 786px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }
    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 3rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem
    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px)
{
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem
    }

    .main__content p{
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    
    }
}
/* Services CSs */

.services {
    background: #ffffff; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.services h1 {
    background-color: #ff8177;
    background-image: linear-gradient(
        to right,
     #ff8177 0%,
    #ff867a 0%, 
    #ff8c7f 21%,
     #f99185 52%,
    #cf556c 78%,
     #b12a5b 100%);
     background-size: 100%;
     margin-bottom: 5rem;
     font-size: 2.5rem;
     -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    object-fit: cover;
}


.services__card {
    margin: 1rem;
    height: 600px;
    width: 600px;
    border-radius: 4px;
    background-image: linear-gradient
    (to bottom, 
    rgba(153, 140, 140, 0) 0%,
     rgba(255, 255, 255) 100%
     ), url('/images/pic1.svg');
    background-size: cover;
    position: relative;
    color: #000000;
    
}

.services__card:nth-child(2) {
    background-image: linear-gradient
    (to bottom, 
    rgba(153, 140, 140, 0) 0%,
     rgba(255, 255, 255) 100%
     ),
     url('/images/pic4.jpg');
}


.services h2 {
    position: sticky;
    top: 350px;
    left: 30px;
}


.services__card p {
    position: sticky;
    top: 480px;
    left: 30px;
}

.services__card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: #21d4fd;
    position: sticky;
    top: 440px ;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    transition: opacity .2s ease-out;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .services {
        height: 1600px;
    }

    .services h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .services {
        height: 1400px;

    }

    .services h1 {
        font-size: 1.2rem;
    }

    .services__card {
        width: 300px;
    }
    
}

/**footer CSS**/
.footer__container {
    background-color: #ffffff;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#footer__logo {
    color: #131313;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;

}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
    
    
}

.footer__link--items {
    display: flex;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;   
    
}

.footer__link--items h2 {
    margin-bottom: 16px;
    
}

.footer__link--items > h3 {
    color: #131212;
}

.footer__link--items a {
    color: #000000;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #3b3b3b;
    transition: 0.3s ease-out;
}

/** Social Icons **/

.social__icon--link {
    color: #000000;
    font-size: 24px;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;

}

.social__logo {
    color: #000000;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.website__rights {
    color:#000000
}

@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .website__rights {
        margin-bottom: 2rem;

    }

    .footer__link-wrapper {
        
    }

}

@media screen and (max-width: 480px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;

    }
}

.footer-text {
    padding: 0 10px;
}

/*--Changed From Original*/
/* These are the classes used in the corresponding section in the index.html file*/


.img-row{
    display: flex;   
    flex-wrap: nowrap;
}

@media screen and (max-width: 900px) {
    .img-row{
        display: flex;   
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .image-link-container{
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 0%;
    }
}

.image-link-container{
    display: flex;
    width: 100%;
    flex-basis: 50%;
    height: fit-content;
    flex-direction: column;
    padding: 1%;
    justify-content: center;
}


.image-container:hover{
transform: scale(1.075);
    transition: 0.2s ease-in;
    /**--transition: opacity .2s ease-out; **/
    cursor: pointer;
}

.image-cont{
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    object-fit: cover;
    
}

.image-cont:hover {
    
}
.image-text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*--End Changes*/